/*定义公共颜色样式*/
/*文字颜色*/
$black_c:#000000;

$wihte_c:#fff;
/*文字灰*/
$grey_c:#999;

/*深灰*/
$bottle_grey_c:#666;

/*外框颜色*/   
$bord_c:#ededed;  

/*底色*/
$bottom_c:#f5f5f5;

/*绿色*/
$green_c:#00ae66; 

/*深绿色文字*/
$bottle_t_green:#618677;

/*深绿色*/
$bottle_green:#009c5b;

/*黄色*/
$yellow_c:#ebab12;  

/*蓝色*/
$blue_c:#2196f3;  

/*红色*/
$redc_c:#f33f33;
